*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
}
html{
    background-color:#fff;
    color:#555;
    font-family:Arial,sans-serif;
    font-weight:300;
    font-size:20px;
    text-rendering:optimizeLegibility;
}

header{
    background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url("background.jpeg");
    background-size:cover;
    background-position: center;
    height:100vh;
}
.nav a{
    display: inline-block;
    padding:10px 10px;
    text-decoration: none;
    color:white;
    font-size: 20px;

}
.nav a:hover{
    background-color:rgba(192,192,192,192);
    border-radius:50px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color:#edeff0;
}
.logo img{
    float:left;
    height: 70px;
    width:70px;
    border-radius:50%;
    margin-left: 50px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, .6);


}

ul{
    list-style-type: none;
    float:right;}
li{
    display:inline-block;
    margin-right:10px;
    text-align: center;
    padding:13px;
}

.intro{
    text-align: center;
    position:fixed;
    font-size: 30px;
    color:peru;
    text-transform: uppercase;
    margin-top:16%;
    margin-left: 28%;
}
.btn{
    display:inline-block;
    text-decoration:none;
    padding:10px 30px;
    background-color:saddlebrown;
    border-radius:50px;
    margin-top:18px;
    color:white;

}
.btn:hover{
    background-color: orange;
}